.checkbox {
	display: none;
}

.label {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	border-radius: 5px;
}

.checkbox:checked + .label {
	padding: 2px 0 0 2px;
	box-shadow: inset 3px 2px 7px 0 darkmagenta;
}
